<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Core Tracks</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/css/helper.css" rel="stylesheet">

    <!-- d3.js -->
    <script src="/static/d3/d3.min.js" charset="utf-8"></script>
    <script src="/static/d3-tip/d3-tip.js" charset="utf-8"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <!-- jQuery -->
    <script src="/static/jQuery/jQuery-1.9.1.js" charset="utf-8"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- Datatables + TableTools -->
    <link href="/static/DataTables-1.9.4/media/css/jquery.dataTables.css" rel="stylesheet">
    <script src="/static/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
    <link href="/static/DataTables-1.9.4/extras/TableTools/media/css/TableTools.css" rel="stylesheet">
    <script src="/static/DataTables-1.9.4/extras/TableTools/media/js/TableTools.min.js"></script>

    <style type="text/css">
      .axis {font-family: Roboto,Arial; font-size:12px;}
      .axis path, .axis line {fill: none;stroke: #000;shape-rendering: crispEdges;}
      .myText {shape-rendering: crispEdges;font-family: Roboto; font-size: 16px}
      .d3-tip {
        line-height: 1;
        font-family: arial,helvetica,sans-serif;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
      }
      .hovered {stroke: black;stroke-width: 2px;fill-opacity:.8;}
      .clicked {stroke: black;stroke-width: 2.5px;fill-opacity:.8;}
    </style>  
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pony Express Elementary</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav" style="float:right">
            <!-- <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li> -->
           <!--  <li><a href="#">Sam Fonoimoana</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
        <div id="page-wrapper">
<!--             <div class="row">
                <div class = "col-lg-12">
                    <h3 class = "page-header">Grade Level Dashboard</h3>
                </div>
            </div>  -->         
            <!-- first row is recent assessments and student table -->
            <div class="row" style="margin-top:20px">
                
                <!-- recent assessments -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i><b>Assessments</b>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="height:431px;overflow:hidden">
                            <div id='recents' style="overflow-y:auto;overflow-x:hidden;height:100%;padding-right:15px"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>

                <!-- student table -->
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i><b id="tblHdr"></b>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table id='table' class="table table-striped table-bordered table-condensed">
                              <thead>
                                <tr>
                                  <th>Teacher</th>
                                  <th>Student</th>
                                  <th>PY</th>
                                  <th>A1</th>
                                  <th>A2</th>
                                  <th>A3</th>
                                  <th>HS</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                              </tbody>

                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>

            </div><!-- /first row -->

            <!-- second row is attempts and teacher comps -->
            <div class="row">
                
                <!-- recent assessments -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i><b>Teacher Comps - Scores</b>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id='scores'></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>

                <!-- teacher comps - scores -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i><b>Teacher Comps - Growth</b>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id='growth'></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>

                <!-- teacher comps - growth -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i><b id="attHdr"></b>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id='attempts'></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>

            </div><!-- /row -->


        </div><!-- /.page-wrapper -->
    </div><!-- /.container -->
    
<style type="text/css">


</style>
<script type="text/javascript">

function tblHdr(assessment){
  $('#tblHdr').text('Student Table - '+assessment)
}

function attHdr(teacher){
  $('#attHdr').text('Attempts - '+teacher)
}

$(document).ready(function(){
  tblHdr(selectedAssessment);
  attHdr('');
})

////////////////////////////////////////////////////////////////////////////////
/////////////////////////////// recents stuff /////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

var selectedGrade = {{grade}}
var rObj = {{assessment_data|safe}}
var rData = rObj[selectedGrade]
var teacherCompsObj = {{teacher_comps_score|safe}}
var selectedAssessment = {{assessment|safe}}[0]
var attemptsDataDist = {{single_teacher_attempts_data|safe}}
var tableData = {{table_data|safe}}
var growthObj = {{growth|safe}}

// function myIdx(){
//   var idx=0;
//   var found=false;
//   while(found===false){
//     if(rData[idx].assessment===selectedAssessment){return idx; found=true}else{idx++}
//   }
// }

// var rData = [
//                 {"assessment":"Assessment","domain":"Domain","date":"Date","strength":"% Prof"},
//                 {"assessment":"PLC-Multiplication","domain":"3.OA","date":"1/7","strength":.6},
//                 {"assessment":"PLC-Division","domain":"3.OA","date":"1/14","strength":.85},
//                 {"assessment":"PLC-Variables","domain":"3.OA","date":"1/21","strength":.75},
//                 {"assessment":"PLC-Random Forest","domain":"3.OA","date":"1/28","strength":.65},
//                 {"assessment":"PLC-Clustering","domain":"3.NBT","date":"2/4","strength":.45},
//                 {"assessment":"PLC-Gradient Boosting","domain":"3.NBT","date":"2/11","strength":.35},
//                 {"assessment":"PLC-Regression","domain":"3.NBT","date":"2/18","strength":.4},
//                 {"assessment":"PLC-ANOVA","domain":"3.NBT","date":"2/25","strength":.55},
// ]

//var rHeight = 400, barHeight = rHeight/rData.length
//var rWidth = $('#recents').width()
//var rSvg = d3.select("#recents").append("svg").attr("width",rWidth).attr("height",rHeight)
var pct = d3.format('%')

var rWidth = $('#recents').width(),rHeight = 500, barHeight = 400/10, rAspect = rHeight/rWidth
var rSvg = d3.select("#recents").append("svg")
    .attr("preserveAspectRatio", "xMidYMid")
    .attr("viewBox", "0 0 "+rWidth+" "+rHeight)
    .attr("width", rWidth)
    .attr("height", rWidth * rAspect );
var colSpacing = [0,.15,.32,.80]

function colorMe(num){
    if(num===0){return "#DCDCDC"}
    else if(num<=.5){return "#36648B"}
    else if(num>.5&&num<=.6){return "#4F94CD"}
    else if(num>.6&&num<=.75){return "#9ACD32"}
    else{return '#698B22'}
}

function getAssessments(rData){
  rSvg.selectAll("g").remove();

  var rHeaders = rSvg.selectAll("g.rHeaders").data(["Date","Domain","Assessment","% Prof."]).enter().append("g")
    .attr("transform",function(d,i){return "translate("+(rWidth*colSpacing[i])+",10)"})
    .append("text").text(function(d){return d}).attr("fill","black").style("font-weight","bold")

  var rRows = rSvg.selectAll("g.rRows").data(rData).enter().append("g").attr("transform",function(d,i){return "translate(0,"+(45+(i*barHeight))+")"})
  var rDate = rRows.append("text")
      .text(function(d){return d.date})
      .attr("fill","black")
      .attr("fill-opacity",0)
      .attr("x",0)

  var rDomain = rRows.append("text")
      .text(function(d){return d.domain})
      .attr("fill","black")
      .attr("fill-opacity",0)
      .attr("x",rWidth*.15)

  var rAssessment = rRows.append("text")
      .text(function(d){return d.assessment.replace("PLC","")})
      .attr("fill","black")
      .attr("fill-opacity",0)
      .attr("x",rWidth*.32)

  var rStrength = rRows.append("g")
      .attr("transform","translate(0,0)")

  var rCircle = rStrength.append("circle")
      .attr("cy",-5)
      .attr("r",barHeight*.45)
      .attr("fill",function(d,i){return colorMe(d.strength)})
      .attr("cx",12)
      .on("mouseover",function(d){d3.select(this).attr("stroke","black")})
      .on("mouseout",function(d){d3.select(this).attr("stroke","none")})

  var rStrengthText = rStrength.append("text")
      .text(function(d,i){return pct(d.strength);})
      .style("font-weight","bold")
      .style("text-anchor","middle")
      .attr("fill-opacity",0)
      .attr("fill","white")
      .attr("x",12)

  rStrength
    .on("mouseover",function(d){d3.select(this).selectAll("circle").classed("hovered",true)})
    .on("mouseout",function(d){d3.select(this).selectAll("circle").classed("hovered",false)})
    .on("click",function(d,i){var x = d3.select(this).selectAll("circle"); 
                            rRows.selectAll("circle").classed("clicked",false);
                            x.classed("clicked",true);
                            selectedAssessment = rData[i].assessment;
                            asvg.selectAll("g").remove();
                            updateComps(teacherCompsObj[selectedAssessment]);
                            tblHdr(selectedAssessment);
                            updateTable(tableData[selectedAssessment]);
                            updateLines(growthObj[selectedAssessment]);
                          })

  var rDelay = function(d,i){return i*50};

  rStrength.transition().duration(550).attr("transform","translate("+rWidth*.85+",0)")
  rDate.transition().duration(1000).attr("fill-opacity",1)
  rDomain.transition().duration(1000).attr("fill-opacity",1)
  rAssessment.transition().duration(1000).attr("fill-opacity",1)
  rStrengthText.transition().duration(1500).attr("fill-opacity",1)
}

getAssessments(rData)

////////////////////////////////////////////////////////////////////////////////
/////////////////////////////// attempts stuff /////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

var width = $('#attempts').width()
var svgHeight = 200
var height = 180

asvg = d3.select("#attempts").append("svg").attr("width",width).attr("height",svgHeight)

var ax = d3.scale.ordinal().rangeRoundBands([0,width-2],.1)
var ay = d3.scale.linear().rangeRound([height,0]);
var color = d3.scale.ordinal().range(['lightgrey','#36648B','#4F94CD','#9ACD32','#698B22']);
//var color = d3.scale.ordinal().range(['#698B22','#9ACD32','#4F94CD','#36648B']);
var axAxis = d3.svg.axis().scale(ax).orient("bottom");

var adata = [{"attempt":1,"0":0,"1":20,"2":25,"3":15,"4":10},
            {"attempt":2,"0":0,"1":15,"2":15,"3":15,"4":10},
            {"attempt":3,"0":0,"1":10,"2":5,"3":15,"4":10}];


// function newData(){
//   var arr = [{"Attempt":1,"1":Math.floor(Math.random()*25),"2":Math.floor(Math.random()*25),"3":Math.floor(Math.random()*5),"4":Math.floor(Math.random()*5)},
//   {"Attempt":2,"1":Math.floor(Math.random()*20),"2":Math.floor(Math.random()*20),"3":Math.floor(Math.random()*25),"4":Math.floor(Math.random()*25)},
//   {"Attempt":3,"1":Math.floor(Math.random()*5),"2":Math.floor(Math.random()*5),"3":Math.floor(Math.random()*25),"4":Math.floor(Math.random()*25)}]
//   return arr
// }

function updateAttempts(data){
  
  data.forEach(function(d){if(d.tiers){delete d.tiers}});
  // color scale using the keys (tiers 1-4)
  color.domain(d3.keys(data[0]).filter(function(key) { return key !== "attempt"; }));
  
  // creating the proportions for the stack normalized column
  data.forEach(function(d){
    var y0 = 0
    d.tiers = color.domain().map(function(name){return {name:name,y0:y0,y1:y0+=d[name],cnt:d[name]}}) // gets all of the y0 and y1 and include the count itself
    d.tiers.forEach(function(d){d.y0 /= y0;d.y1 /= y0;}); // normalizes to 100%
  })
  data.sort(function(a, b) { return b.tiers[0].y1 - a.tiers[0].y1; });
  
  // set the x scale domain (tied to the attempt number)
  ax.domain(data.map(function(d) { return d.attempt; }));
  
  // reset the chart to zero and rebuild
  asvg.selectAll("g").remove();

  // x axis
  asvg.append("g").attr("class","x axis").attr("transform","translate(1,"+(height)+")").call(axAxis);
  
  // rebuild chart
  var state = asvg.selectAll(".attempt")
        .data(data)
      .enter().append("g")
        .attr("class", "attempt")
        .attr("transform", function(d) { return "translate(" + ax(d.attempt) + ",0)"; });

  var rGroups = state.selectAll("g")
        .data(function(d) { return d.tiers; })
      .enter().append("g") 
        .attr("transform","translate(0,"+height+")")
  
  var rects = rGroups.append("rect")
        .attr("width", ax.rangeBand())
        .attr("height", 0)
        .attr("fill", function(d) { return color(d.name); })
        .attr("fill-opacity", 0)
  
  var text = rGroups.append("text")
        .text(function(d){return pct(d.y1 - d.y0)})
        .attr("fill","white")
        .style("font-size","14px")
        .attr("y", function(d) { return (ay(d.y0)-ay(d.y1))/1.7; })
        .attr("x", ax.rangeBand()/2)
        .style("text-anchor","middle")

  // click events
  rGroups
        .on("mouseover",function(d){d3.select(this).selectAll("rect").attr("fill-opacity",.7);d3.select(this).selectAll("text").text(function(d){return d.cnt+" kids"})})
        .on("mouseout",function(d){d3.select(this).selectAll("rect").attr("fill-opacity",1);d3.select(this).selectAll("text").text(function(d){return pct(d.y1 - d.y0)})})
        .on("click",function(d){
                                  update(newArr(tData));
                                  //updateComps(teacherCompsObj[])
        })

  // initial animations
  var aDelay = function(d,i,j){return j*150};
  rGroups.transition().duration(750).delay(aDelay)
    .attr("transform", function(d) { return "translate(0,"+ay(d.y1)+")"; })
    .selectAll("rect")
      .attr("height", function(d) { return ay(d.y0) - ay(d.y1); })
      .attr("fill-opacity", 1);

}

updateAttempts(adata)

////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// scores stuff //////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

var sWidth = $('#scores').width()
var sSvgHeight = 200
var sHeight = 180

var sSvg = d3.select("#scores").append("svg").attr("width",sWidth).attr("height",sSvgHeight)

var sx = d3.scale.ordinal().rangeRoundBands([0,sWidth-2],.1)
var sy = d3.scale.linear().rangeRound([sHeight,0]);
var scolor = d3.scale.ordinal().range(['lightgrey','#36648B','#4F94CD','#9ACD32','#698B22']);
var sxAxis = d3.svg.axis().scale(sx).orient("bottom").ticks(0)
//var color = d3.scale.ordinal().range(['#698B22','#9ACD32','#4F94CD','#36648B']);

// var data = [{"teacher":"Mr. Little","1":20,"2":25,"3":15,"4":10},
//             {"teacher":"Mr. Johnson","1":15,"2":15,"3":15,"4":10},
//             {"teacher":"Mr. Remkus","1":10,"2":5,"3":15,"4":10},
//             {"teacher":"Mr. Marker","1":10,"2":25,"3":15,"4":10}]

function updateComps(data){
  scolor.domain(d3.keys(data[0]).filter(function(key) { return key !== "teacher"; }));
  data.forEach(function(d){
    var y0 = 0
    d.tiers = color.domain().map(function(name){return {name:name,y0:y0,y1:y0+=d[name],cnt:d[name]}}) // gets all of the y0 and y1 and the count itself
    d.tiers.forEach(function(d){d.y0 /= y0;d.y1 /= y0;}); // normalizes to 100%
  })

  data.sort(function(a, b) { return b.tiers[0].y1 - a.tiers[0].y1; });
  sx.domain(data.map(function(d) { return d.teacher; }));

  sSvg.selectAll("g").remove();

  // x axis
  sSvg.append("g").attr("class","x axis").attr("transform","translate(1,"+(sHeight)+")").call(sxAxis);

  var state = sSvg.selectAll(".teacher")
        .data(data)
      .enter().append("g")
        .attr("class", "attempt")
        .attr("transform", function(d) { return "translate(" + sx(d.teacher) + ",0)"; });

  var sGroups = state.selectAll("g")
        .data(function(d) { return d.tiers; })
      .enter().append("g") 
        .attr("transform","translate(0,"+sHeight+")")
  
  var rects = sGroups.append("rect")
        .attr("width", sx.rangeBand())
        .attr("height", 0)
        .attr("fill", function(d) { return color(d.name); })
        .attr("fill-opacity", 0)
  
  var text = sGroups.append("text")
        .text(function(d){return pct(d.y1 - d.y0)})
        .attr("fill","white")
        .style("font-size","14px")
        .attr("y", function(d) { return (sy(d.y0)-sy(d.y1))/1.7; })
        .attr("x", sx.rangeBand()/2)
        .style("text-anchor","middle")

  // click events
  sGroups
        .on("mouseover",function(d){d3.select(this).selectAll("rect").attr("fill-opacity",.7);d3.select(this).selectAll("text").text(function(d){return d.cnt+" kids"})})
        .on("mouseout",function(d){d3.select(this).selectAll("rect").attr("fill-opacity",1);d3.select(this).selectAll("text").text(function(d){return pct(d.y1 - d.y0)})})
        .on("click",function(d,i,j){
          var teacher = sx.domain()[j];
          var newData =  attemptsDataDist[selectedAssessment][teacher];
          console.log(attemptsDataDist[selectedAssessment])
          updateAttempts(newData);
          attHdr(sx.domain()[j]);
          var teacherTierData = tableData[selectedAssessment].filter(function(d){if(d[0]===teacher&&d[6]===i.toString()){return d}})
          updateTable(teacherTierData);                       
        })

  // initial animations
  var aDelay = function(d,i,j){return j*150};
  sGroups.transition().duration(750).delay(aDelay)
    .attr("transform", function(d) { return "translate(0,"+sy(d.y1)+")"; })
    .selectAll("rect")
      .attr("height", function(d) { return sy(d.y0) - sy(d.y1); })
      .attr("fill-opacity", 1);
}

updateComps(teacherCompsObj[selectedAssessment])

////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// growth stuff //////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

var gWidth = $('#growth').width()
var gHeightFull = 200
var gHeight = 190

var gSvg = d3.select("#growth").append("svg").attr("width",gWidth).attr("height",gHeightFull)

var gx = d3.scale.ordinal().domain([1,2,3]).rangeBands([0,gWidth]);
var gy = d3.scale.linear().rangeRound([gHeight,0]);
//var gcolor = ["#FFF2E7","#D0CABF","#B9B1A8","#DE8642","#4B4D52"]
//var gcolor = ["#393939","#FF5A09","#F3843E","#FF9900","#6E6E6E"]
var gcolor = ["#B6A754","#77BA9B","#EE8D09","#B5B5B5","#558188","lightgrey"]

// var gData = [
//               [{"attempt":1,"score":1.9,"teacher":'Remkus'},{"attempt":2,"score":2.2,"teacher":'Remkus'},{"attempt":3,"score":2.3,"teacher":'Remkus'}],
//               [{"attempt":1,"score":1.0,"teacher":'Conklin'},{"attempt":2,"score":1.2,"teacher":'Conklin'},{"attempt":3,"score":1.6,"teacher":'Conklin'}],
//               [{"attempt":1,"score":2.3,"teacher":'Marker'},{"attempt":2,"score":2.8,"teacher":'Marker'},{"attempt":3,"score":3.5,"teacher":'Marker'}],
//               [{"attempt":1,"score":.9,"teacher":'Little'},{"attempt":2,"score":1.7,"teacher":'Little'},{"attempt":3,"score":2,"teacher":'Little'}]
// ]


var aTip = d3.tip().attr('class', 'd3-tip').html(function(d) { return d[0].teacher});

var line = d3.svg.line()
  .interpolate('linear') // monotone for smooth, linear for straight
  .x(function(d){return gx(d.attempt);})
  .y(function(d){return gy(d.score);})

function updateLines(gData){
  
  // clear out old
  gSvg.selectAll("g").remove();
  
  // calculate new y axis scale
  var i,j, averages = []
  for(i=0;i<gData.length;i++){
    for(j=0;j<gData[i].length;j++){
      averages.push(gData[i][j].score)
    }
  }

  var max = Math.round(Math.ceil(Math.max.apply(Math,averages)),1)
  var min = Math.round(Math.floor(Math.min.apply(Math,averages)),1)
  console.log(min, max)

  gy.domain([min,max])

  // building the new chart
  var gGrps = gSvg.selectAll("g").data(gData).enter().append("g")
  // var gLines = gGrps.selectAll("g").data(function(d){return d.scores}).enter().append("g")

  var yAxis = d3.svg.axis().scale(gy).orient("left").ticks([4]);
  var xAxis = d3.svg.axis().scale(gx).orient("top");
    
  gGrps.append("path")
    .attr("d",function(d){return line(d);})
    .attr("transform","translate("+(25+gWidth/6)+",5)")
    .style("stroke-dasharray",function(d,i){if(i===1){return "0,0"}else{return "6,3"}})
    .attr("fill","none")
    .attr("stroke",function(d,i,j){return gcolor[i]})
    .attr("stroke-width","4px")

  gGrps.selectAll("circle")
    .data(function(d){return d;})
    .enter().append("svg:circle")
        .attr("cx",function(d,i,j){return gx(d.attempt);})
        .attr("cy",function(d,i,j){return gy(d.score);})
        .attr("r","5px")
        .attr("fill",function(d,i,j){return gcolor[j]})
        //.attr("stroke","orange")
        //.attr("stroke-width","4px")
        .attr("transform","translate("+(25+gWidth/6)+",5)")

  // add the axes
  gSvg.append("g").attr("class","y axis").attr("transform","translate(25,5)").call(yAxis);
  //gSvg.append("g").attr("class","x axis").attr("transform","translate(16,"+(gHeight+5)+")").call(xAxis);

  gGrps.call(aTip)

  gGrps
    .on("mouseover.tooltip",aTip.show)
    .on("mouseout.tooltip",aTip.hide)
    .on("mouseover",function(d){d3.select(this).selectAll("path").attr("stroke-width","2px")})
    .on("mouseout",function(d){d3.select(this).selectAll("path").attr("stroke-width","4px")})
}

updateLines(growthObj[selectedAssessment])

////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// table stuff ///////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

var t = $('#table').dataTable({
  "bLengthChange":false,
  "bPaginate": true,
  "sDom": 'TC<"clear">lfrtip',
  "sScrollY": "315px",
  "bScrollCollapse": true,
  "oTableTools": {
      "aButtons":["copy","print","xls"],
      "sSwfPath": "/static/DataTables-1.9.4/extras/TableTools/media/swf/copy_csv_xls_pdf.swf"
  }
});

function updateTable(rows){
  t.fnClearTable();
  t.fnAddData(rows);
}

updateTable(tableData[selectedAssessment])


</script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    
  </body>
</html>
