<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Core Tracks</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/css/helper.css" rel="stylesheet">

    <!-- d3.js -->
    <script src="/static/d3/d3.min.js" charset="utf-8"></script>
    <!--<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>-->

    <!-- jQuery -->
    <script src="/static/jQuery/jQuery-1.9.1.js" charset="utf-8"></script>
    <!--<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>-->

<!-- Datatables + TableTools -->
    <link href="/static/DataTables-1.9.4/media/css/jquery.dataTables.css" rel="stylesheet">
    <script src="/static/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
    <link href="/static/DataTables-1.9.4/extras/TableTools/media/css/TableTools.css" rel="stylesheet">
    <script src="/static/DataTables-1.9.4/extras/TableTools/media/js/TableTools.min.js"></script>

    <style type="text/css">
      .axis {font-family: Roboto,Arial; font-size:26px;}
      .axis path, .axis line {fill: none;stroke: #000;shape-rendering: crispEdges;}
      .myText {shape-rendering: crispEdges;font-family: Roboto; font-size: 16px}
      .d3-tip {
        line-height: 1;
        font-family: arial,helvetica,sans-serif;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
      }
      .hovered {stroke: black;stroke-width: 2px;fill-opacity:.8;}
      .clicked {stroke: black;stroke-width: 2.5px;fill-opacity:.8;}
    </style>

  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pony Express Elementary</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav" style="float:right">
            <!-- <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li> -->
            <li><a href="#">Sam Fonoimoana</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
        <div id="page-wrapper">
            <div class="row">
                <div class = "col-lg-12" style="margin-top:20px">

                    <table id="tagger">
                        <thead>
                            <tr>
                                <th>Grade</th>
                                <th>Assessment</th>
                                <th>Date</th>
                                <th>Standard Mapped</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>K</td>
                                <td>PLC - Fractions</td>
                                <td>4/12</td>
                                <td>    
                                    <select class="form-control">
                                        <option value="one">One</option>
                                        <option value="two">Two</option>
                                        <option value="three">Three</option>
                                        <option value="four">Four</option>
                                        <option value="five">Five</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>PLC - Decimals</td>
                                <td>4/19</td>
                                <td>   
                                    <select class="form-control">
                                        <option value="one">One</option>
                                        <option value="two">Two</option>
                                        <option value="three">Three</option>
                                        <option value="four">Four</option>
                                        <option value="five">Five</option>
                                    </select>
                                </td>
                            </tr>
                             <tr>
                                <td>K</td>
                                <td>PLC - Decimals</td>
                                <td>4/19</td>
                                <td>   
                                    <select class="form-control">
                                        <option value="one">One</option>
                                        <option value="two">Two</option>
                                        <option value="three">Three</option>
                                        <option value="four">Four</option>
                                        <option value="five">Five</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>PLC - Decimals</td>
                                <td>4/19</td>
                                <td>   
                                    <select class="form-control">
                                        <option value="one">One</option>
                                        <option value="two">Two</option>
                                        <option value="three">Three</option>
                                        <option value="four">Four</option>
                                        <option value="five">Five</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>PLC - Decimals</td>
                                <td>4/19</td>
                                <td>   
                                    <select class="form-control">
                                        <option value="one">One</option>
                                        <option value="two">Two</option>
                                        <option value="three">Three</option>
                                        <option value="four">Four</option>
                                        <option value="five">Five</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>PLC - Decimals</td>
                                <td>4/19</td>
                                <td>   
                                    <select class="form-control">
                                        <option value="one">One</option>
                                        <option value="two">Two</option>
                                        <option value="three">Three</option>
                                        <option value="four">Four</option>
                                        <option value="five">Five</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>PLC - Decimals</td>
                                <td>4/19</td>
                                <td>   
                                    <select class="form-control">
                                        <option value="one">One</option>
                                        <option value="two">Two</option>
                                        <option value="three">Three</option>
                                        <option value="four">Four</option>
                                        <option value="five">Five</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>PLC - Decimals</td>
                                <td>4/19</td>
                                <td>   
                                    <select class="form-control">
                                        <option value="one">One</option>
                                        <option value="two">Two</option>
                                        <option value="three">Three</option>
                                        <option value="four">Four</option>
                                        <option value="five">Five</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>PLC - Decimals</td>
                                <td>4/19</td>
                                <td>   
                                    <select class="form-control">
                                        <option value="one">One</option>
                                        <option value="two">Two</option>
                                        <option value="three">Three</option>
                                        <option value="four">Four</option>
                                        <option value="five">Five</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>PLC - Decimals</td>
                                <td>4/19</td>
                                <td>   
                                    <select class="form-control">
                                        <option value="one">One</option>
                                        <option value="two">Two</option>
                                        <option value="three">Three</option>
                                        <option value="four">Four</option>
                                        <option value="five">Five</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>PLC - Decimals</td>
                                <td>4/19</td>
                                <td>   
                                    <select class="form-control">
                                        <option value="one">One</option>
                                        <option value="two">Two</option>
                                        <option value="three">Three</option>
                                        <option value="four">Four</option>
                                        <option value="five">Five</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>PLC - Decimals</td>
                                <td>4/19</td>
                                <td>   
                                    <select class="form-control">
                                        <option value="one">One</option>
                                        <option value="two">Two</option>
                                        <option value="three">Three</option>
                                        <option value="four">Four</option>
                                        <option value="five">Five</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>PLC - Decimals</td>
                                <td>4/19</td>
                                <td>   
                                    <select class="form-control">
                                        <option value="one">One</option>
                                        <option value="two">Two</option>
                                        <option value="three">Three</option>
                                        <option value="four">Four</option>
                                        <option value="five">Five</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>PLC - Decimals</td>
                                <td>4/19</td>
                                <td>   
                                    <select class="form-control">
                                        <option value="one">One</option>
                                        <option value="two">Two</option>
                                        <option value="three">Three</option>
                                        <option value="four">Four</option>
                                        <option value="five">Five</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>PLC - Decimals</td>
                                <td>4/19</td>
                                <td>   
                                    <select class="form-control">
                                        <option value="one">One</option>
                                        <option value="two">Two</option>
                                        <option value="three">Three</option>
                                        <option value="four">Four</option>
                                        <option value="five">Five</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>PLC - Decimals</td>
                                <td>4/19</td>
                                <td>   
                                    <select class="form-control">
                                        <option value="one">One</option>
                                        <option value="two">Two</option>
                                        <option value="three">Three</option>
                                        <option value="four">Four</option>
                                        <option value="five">Five</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>PLC - Decimals</td>
                                <td>4/19</td>
                                <td>   
                                    <select class="form-control">
                                        <option value="one">One</option>
                                        <option value="two">Two</option>
                                        <option value="three">Three</option>
                                        <option value="four">Four</option>
                                        <option value="five">Five</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>PLC - Decimals</td>
                                <td>4/19</td>
                                <td>   
                                    <select class="form-control">
                                        <option value="one">One</option>
                                        <option value="two">Two</option>
                                        <option value="three">Three</option>
                                        <option value="four">Four</option>
                                        <option value="five">Five</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>PLC - Decimals</td>
                                <td>4/19</td>
                                <td>   
                                    <select class="form-control">
                                        <option value="one">One</option>
                                        <option value="two">Two</option>
                                        <option value="three">Three</option>
                                        <option value="four">Four</option>
                                        <option value="five">Five</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>PLC - Decimals</td>
                                <td>4/19</td>
                                <td>   
                                    <select class="form-control">
                                        <option value="one">One</option>
                                        <option value="two">Two</option>
                                        <option value="three">Three</option>
                                        <option value="four">Four</option>
                                        <option value="five">Five</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>PLC - Decimals</td>
                                <td>4/19</td>
                                <td>   
                                    <select class="form-control">
                                        <option value="one">One</option>
                                        <option value="two">Two</option>
                                        <option value="three">Three</option>
                                        <option value="four">Four</option>
                                        <option value="five">Five</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div> <!-- row -->
          
        </div><!-- /.page-wrapper -->
    </div><!-- /.container -->
    
<script type="text/javascript">
    $(document).ready(function() {
       $('#tagger').dataTable({
            "bPaginate": false,
            //"sDom": 'TC<"clear">lfrtip',
            "sDom": 'W<"clear">lfrtip',
            "sScrollY": "600px",
            "bScrollCollapse": true,
            "oTableTools": {
                "aButtons":["copy","print","xls"],
                //"sSwfPath": "{{url_for('static',filename='copy_csv_xls_pdf.swf')}}"
                "sSwfPath": "/static/DataTables-1.9.4/extras/TableTools/media/swf/copy_csv_xls_pdf.swf"
            },
            "search":true,
            "columnDefs": [
                { type: "Grade", targets: 0 }
            ]
        });
    });
</script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    
  </body>
</html>
